[Unit]
Description=Selenium Firefox Node
After=network.target
Requires=selenium_hub.service

[Service]
ExecStart=/usr/lib/selenium/selenium_node_firefox.sh

[Install]
WantedBy=multi-user.target